@charset "URF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body.upper{
    font-size: 150%;
}

img{
    display: block;
    max-width: 100%;
}

body{
    background-color: #faf6ed;
    color: #222;
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu{
    grid-column: 3 / 5;
    margin: 2rem 0;
    background-color: #fb5;
}

.menu ul{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;
}

.menu li a{
    display: block;
    color: #222;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: .1rem;
    position: relative;
}

.menu li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: .2rem;
    background-color: #EE5544;
    bottom: -2px;
    left: -3px;
    transition: .3s linear;
}

.menu li a:hover::after{
    width: calc(100% + 3px);
}

.menu li:nth-child(2) a::after{
    display: none;
}

.grid-section{
    grid-column: 2 / 4;
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 86.5px 300px 1fr;
    gap: 1.2rem;
    margin-bottom: 4rem;
}

.titulo{
    font-family: 'Playfair Display SC', Georgia;
    font-size: 6rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 1 / 4;
}

.animais h2{
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color: #e54;
}

.animais h2::before{
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    background-color: #fb5;
}

.animais p{
    font-family: Helvetica, Arial;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.animais-lista{
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;
}

.animais-lista::-webkit-scrollbar{
    width: 1rem;
}
 
.animais-lista::-webkit-scrollbar-thumb{
    background-color: #fb5;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track{
    background-color: #faf6ed;
}

.animais-descricao{
    grid-column: 3;
}

.animais-descricao section{
    margin-bottom: 3rem;
}

.faq-lista{
    grid-column: 2 / 4;
}

.faq-lista dt{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #e54;
}

.faq-lista dt::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background-color: #fb5;
    margin-bottom: .5rem;
    margin-right: 30px;
}

.faq-lista dd{
    font-family: Helvetica, Arial;
}

.mapa{
    grid-column: 2;
}

.dados{
    grid-column: 3;
}

.dados li{
    margin-bottom: 1rem;
    font-family: Helvetica, Arial;
}

.dados li::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background-color: #fb5;
}

.copy{
    grid-column: 3 / 5;
    margin-bottom: 2rem;
    background-color: #fb5;
}

.copy p{
    padding: 1rem;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
}


@media (max-width: 700px){
    body{
        grid-template-columns: 1fr;
    }

    .menu, .grid-section, .copy{
        grid-column: 1;
    }

    .grid-section{
        grid-template-columns: 100px 1fr;
        gap: 10px;
    }

    .animais-lista{
        grid-column: 1;
    }

    .faq-lista, .dados, .mapa{
        grid-column: 1 / 3;
    }

    .grid-section h1{
        font-size: 3rem;
    }

    .menu{
        margin-top: 0;
    }

    .copy{
        margin-bottom: 0;
    }
}
